<div class="w-full flex justify-center bg-white">
  <div class="p-4">
    <h1 class="text-sky-800 text-xl">{{ title }}</h1>
    <form
      class="flex flex-col gap-2 pt-6"
      [formGroup]="eventForm"
      (ngSubmit)="onSubmit()"
    >
      <app-input [formGroup]="eventForm" controlName="name"
        >Ürituse nimi:</app-input
      >
      <app-input
        [formGroup]="eventForm"
        controlName="date"
        placeholder="pp.kk.aaaa hh:mm"
        >Toimumisaeg:</app-input
      >
      <app-input [formGroup]="eventForm" controlName="location"
        >Koht:</app-input
      >
      <div class="grid grid-cols-3 gap-12">
        <label
          for="last_name"
          class="col-span-1 block mb-2 text-sm font-medium text-gray-900"
          >Lisainfo:</label
        >
        <textarea
          formControlName="info"
          type="text"
          class="col-span-2 bg-gray-50 border border-neutral-500 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-1"
        ></textarea>
      </div>
      <div class="flex gap-2 pt-8">
        <app-button
          (onClick)="onBackClicked()"
          [buttonStyle]="btnStyle1"
          title="Tagasi"
          [buttonType]="''"
        ></app-button>
        <app-button
          [buttonStyle]="btnStyle2"
          [title]="update ? 'Salvesta' : 'Lisa'"
        ></app-button>
      </div>
    </form>
  </div>
</div>
